<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>ch.passenger.kotlin.html.servlet.MainServlet</servlet-class>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>ch.passenger.kotlin.html.servlet.BosorkWebSocketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/symblicon/*</url-pattern>
    </servlet-mapping>
</web-app>
